    $paletteColor1: '#000';

    $paletteColor2: '#fff';

    $paletteColor3: '#1d1d1d';

    $paletteColor4: '#e8e8e8';

    $paletteColor5: '#507791';

    $paletteColor6: '#ac6293';

    $paletteColor7: '#363535';

    $paletteColor8: '#F7F7F7';

    $paletteColor9: '#00000033';
