.tileItemsContainer {
  display: flex;
  flex-wrap: wrap;
}

.tileItemContainer {
  opacity: 0;
  padding: 10px;
  flex: 0 0 33%;
  min-height: 280px;
  display: flex;
}

.tileItem {
  flex: 1 1 auto;
  padding: 10px;
  border-radius:6px;
  box-shadow: 0 10px 45px rgba(0,0,0, .1);
  border: 1px solid rgba(1, 1, 1, .3);
}
